*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: teal;
}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid whitesmoke;
    outline: none;
    background-color: darkgrey;
}

.calc-grid > button:hover {
    background-color: gainsboro
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: honeydew;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .prev-operand {
    color: darkslategray;
    font-size: 1.5rem;
}

.output .cur-operand {
    color: black;
    font-size: 2.5rem;
}
